PORT=3000
NODE_ENV=development
DATABASE_URL=
REDIS_URL=

ACCESS_TOKEN_SECRET=HAHA
REFRESH_TOKEN_SECRET=HEHE
FORGOT_PASSWORD_SECRET=HUHU
BCRYPT_SALT_ROUNDS=10

RESEND_API_KEY=
EMAIL_FROM="Acme <onboarding@resend.dev>"

API_PREFIX="/api/v1"
FRONTEND_URL="http://localhost:3001"

AWS_BUCKET=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=