PORT=3000
NODE_ENV=development
DATABASE_URL=
REDIS_URL=
ACCESS_TOKEN_SECRET=HAHA
REFRESH_TOKEN_SECRET=HEHE
BCRYPT_SALT_ROUNDS=10
RESEND_API_KEY=
EMAIL_FROM="Acme <onboarding@resend.dev>"
API_PREFIX="/api/v1"